 <template>
   <div class="container">
     <header-block
         :days-have-passed="daysHavePassed"
         :machine-count="machineCount"
         :summed-dispensings="summedDispensings"
         :refresh-time="refreshTime.toFormat('dd.MM.yyyy hh:mm:ss')"
         class="mt-3"
         @refresh="getData"
     />
     <router-view
         :api-data="apiData"
         :days-have-passed="daysHavePassed"
         :average-per-machine="averagePerMachine"
     />
   </div>
   <footer-block/>
   <ui-spinner :is-show="isStart"/>
</template>

<script>
import { DateTime, Interval } from 'luxon'
import { getDataFromApi } from '@/api/api'
import HeaderBlock from '@/components/HeaderBlock.vue'
import FooterBlock from '@/components/FooterBlock.vue'
import UiSpinner from '@/components/UiSpinner.vue'

export default {
  name: 'App',
  components: {
    HeaderBlock,
    FooterBlock,
    UiSpinner
  },
  data() {
    return {
      apiData: [],
      refreshTime: DateTime.now(),
      isStart: false
    }
  },
  computed: {
    uniqMachineDispensings() {
      const machine = {}
      // сумируем кол-во раздачь по каждой машине в отдельности
      this.apiData.forEach((item) => {
        machine[item.machine_number] = machine[item.machine_number] ? machine[item.machine_number] + item.summed_dispensings : item.summed_dispensings
      })
      //
      return machine
    },
    machineCount() {
      // считаем кол-во машин
      return Object.keys(this.uniqMachineDispensings).length
    },
    summedDispensings() {
      // всего раздачь
      return Object.values(this.uniqMachineDispensings).reduce((partialSum, a) => partialSum + a, 0)
    },
    averagePerMachine() {
      // вычисляем среднее значение раздачь
      return (this.summedDispensings / this.machineCount  || 0).toFixed(2)
    },
    daysHavePassed() {
      let first = DateTime.now()
      // ищем самцую дальнюю дату
      this.apiData.forEach((item) => {
        if (first > DateTime.fromISO(item.date)) {
          first = DateTime.fromISO(item.date)
        }
      })
      // высчитываем сколько дней прошло от этой даты
      const diff = Interval.fromDateTimes(first, DateTime.now())
      // округляем в меньшую сторону до целого дня
      return Math.floor(diff.length('days'))
    }
  },
  mounted() {
    this.getData()
  },
  methods: {
    async getData() {
      // запускаем spinner
      this.isStart = true
      getDataFromApi()
          .then((response) => {
            this.apiData = response
            // устанавливаем время последнего обновления данных
            this.refreshTime = DateTime.now()
          })
          .finally(() => {
            // останавливаем spinner
            this.isStart = false
          })
    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cursor-pointer {
  cursor: pointer;
}
</style>
